@font-face {
  font-family: "Phosphor";
  src: url("./Phosphor.woff2") format("woff2"),
    url("./Phosphor.woff") format("woff"),
    url("./Phosphor.ttf") format("truetype"),
    url("./Phosphor.svg#Phosphor") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.ph {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Phosphor" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ph.ph-arrow-right:before {
  content: "\e95c";
}
.ph.ph-arrows-left-right:before {
  content: "\e966";
}
.ph.ph-baby:before {
  content: "\e98b";
}
.ph.ph-battery-low:before {
  content: "\e9a0";
}
.ph.ph-book-open-text:before {
  content: "\e9c8";
}
.ph.ph-briefcase:before {
  content: "\e9d4";
}
.ph.ph-buildings:before {
  content: "\e9dd";
}
.ph.ph-calculator:before {
  content: "\e9e2";
}
.ph.ph-calendar:before {
  content: "\e9e3";
}
.ph.ph-calendar-check:before {
  content: "\e9e5";
}
.ph.ph-caret-down:before {
  content: "\e9fe";
}
.ph.ph-chart-bar:before {
  content: "\ea17";
}
.ph.ph-chart-line-up:before {
  content: "\ea1c";
}
.ph.ph-check:before {
  content: "\ea30";
}
.ph.ph-check-circle:before {
  content: "\ea31";
}
.ph.ph-circle-notch:before {
  content: "\ea3b";
}
.ph.ph-clipboard-text:before {
  content: "\ea41";
}
.ph.ph-clock:before {
  content: "\ea42";
}
.ph.ph-coin:before {
  content: "\ea5e";
}
.ph.ph-coins:before {
  content: "\ea5f";
}
.ph.ph-currency-dollar:before {
  content: "\ea80";
}
.ph.ph-file-xls:before {
  content: "\eb03";
}
.ph.ph-hand-coins:before {
  content: "\eb73";
}
.ph.ph-hand-heart:before {
  content: "\eb77";
}
.ph.ph-hourglass:before {
  content: "\eb94";
}
.ph.ph-hourglass-high:before {
  content: "\eb95";
}
.ph.ph-hourglass-low:before {
  content: "\eb96";
}
.ph.ph-hourglass-medium:before {
  content: "\eb97";
}
.ph.ph-house:before {
  content: "\eb9c";
}
.ph.ph-house-line:before {
  content: "\eb9d";
}
.ph.ph-instagram-logo:before {
  content: "\eba8";
}
.ph.ph-lightbulb:before {
  content: "\ebba";
}
.ph.ph-lock-key:before {
  content: "\ebd3";
}
.ph.ph-lock-key-open:before {
  content: "\ebd4";
}
.ph.ph-magnifying-glass:before {
  content: "\ebdd";
}
.ph.ph-map-pin:before {
  content: "\ebe0";
}
.ph.ph-medal:before {
  content: "\ebe8";
}
.ph.ph-megaphone:before {
  content: "\ebeb";
}
.ph.ph-money:before {
  content: "\ebfb";
}
.ph.ph-newspaper:before {
  content: "\ec0e";
}
.ph.ph-piggy-bank:before {
  content: "\ec76";
}
.ph.ph-prohibit:before {
  content: "\ec94";
}
.ph.ph-rocket-launch:before {
  content: "\ecb6";
}
.ph.ph-shield-check:before {
  content: "\ecd3";
}
.ph.ph-shield-warning:before {
  content: "\ecd9";
}
.ph.ph-star:before {
  content: "\ed28";
}
.ph.ph-storefront:before {
  content: "\ed34";
}
.ph.ph-thumbs-down:before {
  content: "\ed71";
}
.ph.ph-tree:before {
  content: "\ed8d";
}
.ph.ph-trend-up:before {
  content: "\ed92";
}
.ph.ph-user:before {
  content: "\eda0";
}
.ph.ph-users:before {
  content: "\edab";
}
.ph.ph-users-three:before {
  content: "\edae";
}
.ph.ph-wallet:before {
  content: "\edbd";
}
.ph.ph-warning:before {
  content: "\edbf";
}
.ph.ph-warning-circle:before {
  content: "\edc0";
}
.ph.ph-whatsapp-logo:before {
  content: "\edce";
}
.ph.ph-x:before {
  content: "\eddb";
}
